@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");

body
{
    font-family: "Raleway", "Sans serif";
}

@media(min-width:769px)
{
body
    {
        margin: 2% 10% 2% 10%;
    }
}   

h1
{
    margin-block-end: 0;
}

p
{
    margin-block-start: 0.5em;
}



/*----------------------- NAVIGATEUR -------------------------- */

nav
{
    position: absolute;
    right: 25%;
    top: 5px;
}

#navLinkHeberg, #navLinkAct
{
    color: #000000;
}



#navLinkHeberg, #navLinkAct, #navLinkInsc
{
    margin: 0 0 0 0;
    padding: 15% 15% 0% 15%;
}


nav, nav ul
{
    display: flex;
    list-style-type: none;
}

nav a
{
    margin-right: 0px;
    align: right;
    font-weight: bold;
}

nav ul
{
    padding-bottom: 0px;
}

nav li a:link, nav a
{
    text-decoration: none;
}

@media(max-width:768px)
{
    nav 
    {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 0px;
        grid-auto-rows: minmax(10px, auto);
        position: absolute;
        top: 0px;
        right: 0px;
        left: 0px;
    }

    #navLinkHeberg
    {
        grid-column: 1;
        grid-row: 2 / 2 ;
    }

    #navLinkAct
    {
        grid-column: 2;
        grid-row: 2 / 2;
    }

    #navLinkInsc
    {
        grid-column: 2;
        grid-row: 1 / 1;
        color: #0065FC; 
        margin-top:20px; 
        padding: 2px 50px 0px 0px;
        right: 0px;  
        text-align: right; 

    }
    form 
    {
        margin: 10% 0% 10% 0%;
    }

}

form
{
    display: flex;
    flex-wrap: nowrap;
}

#searchIcon
{
    background-color: #F2F2F2;
    border: 2px #F2F2F2 solid;
    border-radius: 15px 0 0 15px;
    height: 40px;
    width: 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

input
{
    border-top: 1px solid #F2F2F2;
    border-right: 0px;
    border-bottom: 1px solid #F2F2F2;
    border-left: 0px;
}

input
{
    font-weight: bold;
    font-family: "Raleway", "Sans serif";
    font-size: 1em;
    padding-left: 1%;
}

#searchButton 
{
    background-color: #0065FC;
    border-radius: 0 15px 15px 0;
    border: 1px solid #0065FC;
    text-align: center;
}

#searchButton span
{
    color: white; 
    font-weight: bold;   
}

#filters
{
    margin-top: 2%;
}

#filters h2
{
    margin-right: 1%;
    margin-top: 1%;
}


.filterButton
{
    font-family: Raleway;
    font-size: 1em;
    font-weight: bold;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border: 3px #F2F2F2 solid;
    border-left: 0px;   
    border-radius: 30px;
    font-weight: bold;
    padding-right: 10%;
    max-height: 53px;
    width: auto;
    margin-right: 20px;
}

@media (min-width: 769px)
{
    #searchButton i
    {
        display: none;
    }
    .filterButton
    {
        width: 100%;
    }    
}

#filters a
{
    margin-right: 2%;
}

.filterButton i
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DEEBFF;
    color: #0065FC;
    border: 3px  #DEEBFF solid ;
    border-radius: 50%;
    min-height: 45px;
    min-width: 45px;
    float: left;
    margin-right: 10%;
}

#filters a
{
    color: #000000;
    text-decoration: none;
}


#infoIcon
{
    color: #0065FC;
}

@media(min-width:769px)
{
    .filterButton:hover
    {
        box-shadow: 1px 1px 10px grey;       
    }

    #navLinkHeberg:hover, #navLinkAct:hover
        {
            border-top: 3px solid #0065FC;
            color: #0065FC; 
        }
    nav ul li
        {
            margin-left: 5%;
        }

    #filters
    {
        display: flex;
        align-items: center;    
    }  
}

@media(max-width:768px)
{
    #navLinkHeberg , #navLinkAct 
    {
       text-align: center;
       padding-bottom: 5%;
       border-bottom: 3px solid #DEEBFF;
       margin: 5% 0px 0px 0px;
       border-right: 0px;
       border-left: 0px;
       border-bottom: 3px solid #F2F2F2;
    }

    nav li a:link
    {
        text-decoration: none;
        color: #000000 ;
        border-bottom: 3px solid #F2F2F2;
        padding-right: 5px;
        padding-left: 5px;
    }
    #navLinkHeberg:hover, #navLinkAct:hover
    {
        border-bottom: 3px solid #0065FC;
    }
    .search
    {
        margin: 20% 2% 10% 2%;
    }
    #searchButton span
    {
        display: none;
    }

    #searchButton i
    {
        color: #fff;
    }

    form input 
    {
        width: 100%;
    }

    #searchIcon
{
    background-color: #F2F2F2;
    border: 2px #F2F2F2 solid;
    border-radius: 15px 15px 15px 15px;
    height: 40px;
    width: 60px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#searchButton 
{
    background-color: #0065FC;
    border-radius: 15px 15px 15px 15px;
    border: 1px solid #0065FC;
    text-align: center;
    width: 60px;
}

    #filters
    {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 10px;
    }
    #filters h2 
    {
        grid-column:1;
        grid-row: 1;
    }
    #economique { 
        grid-column: 1;
        grid-row: 2;
    }
    #familial {
        grid-column: 2;
        grid-row: 2;
    }
    #romantique 
    {
        grid-column: 1;
        grid-row: 3;
    }
    #annimaux {
        grid-column: 1;
        grid-row: 4;
        width: 125%;     
    }
}

/*----------------------- SPECIFIQUE DESKTOP -------------------------- */



/*----------------------- BREAKPOINT -------------------------- */
@media(min-width: 1199px)
{
    footer
    {
        display: flex;        
    }
    .parafooter
    {
        margin-right: 20%;
    }
}

/*----------------------- HOTELS POPULAIRES -------------------------- */

#popuIcon
{
    float: right;
}

#greyStar
{
    color: #F2F2F2;
}

.hotelpop:hover, .hebergement:hover, .activite:hover
{
    box-shadow: 0px 2px 20px grey;
    cursor: pointer;
}

.hotelpop
{
    display: flex;
    padding: 1%;
}

.hotelpop
{
    height: 25%;
}


@media (max-width: 768px)
{
    .hotelpop
    {
        height: 150px;
    }
}

#soleilMatinImg
{
    background-size: cover;
    background-image: url('images/2_large/soleilmatin.jpg');
    background-position: center;
    width: 150px;
    background-repeat: no-repeat;
    border-radius: 20px 0 0 20px;
    margin-right: 2%;      
}

#coeurdelEauImg
{
    background-size: cover;
    background-image: url('images/2_large/coeurdeleau.jpg');
    background-position: center;
    width: 150px;
    background-repeat: no-repeat;
    border-radius: 20px 0 0 20px;
    margin-right: 2%;      
}

#toutBleuImg
{
    background-size: cover;
    background-image: url('images/2_large/bleublanc.jpg');
    background-position: center;
    width: 150px;
    background-repeat: no-repeat;
    border-radius: 20px 0 0 20px;
    margin-right: 2%;      
}

/*----------------------- HERBERGEMENTS -------------------------- */

.hebergement h3, .hebergement p
{
    margin: 1% 0 1% 0;
    padding: 0;
}

.hebergementDesc
{
    margin-left: 3%;
}

.hotelpop, .hebergement
{
    background-color: #ffffff;
    border: 2px #F2F2F2 solid;
    border-radius: 20px;
    box-shadow: 0px 1px 10px grey;
    margin: 5%;
}

.hebergement
{
    padding: 0.2%;
    padding-bottom: 0px;
    margin: 2%;
}

.description
{
    width: 50%;
}

.description h3, .description p
{
    margin: 2% 0% 2% 0%;
}

@media (max-width: 768px)
{
    .hebergement
    {
        height: 250px;
        margin-bottom: 5%;
    }

    #hebergMarseille
    {
        background-color:#ffffff;
    }
}

.description i, .hebergement i
{
    color: #0065FC;
}

@media (min-width: 769px)
{
    #hebergMarseille, #populaires, footer
    {
        background-color:#F2F2F2;
        border: 1px #F2F2F2 solid;
        margin-bottom: 2%;
        padding: 1%;  
    }
}

@media (max-width: 768px)
{
   
    #populaires, footer
    {
        background-color: #F2F2F2;
        border: 1px #F2F2F2 solid;
        margin-bottom: 10%;
    }
    #hebergMarseille
    {
        margin-bottom: 10%;
    }
}

/* @media(min-width:769px) and (max-width:1299)
{
        #hotelsPpopulaires
        {
            display: flex;
            flex-direction: row;
        }
} */


@media(min-width:769px)
{

    #hebergements
    {
        display: flex;
        flex-direction: row-reverse;
    }

    #hebergMarseille
    {
        width: 68%;
    }

    #populaires
    {
        margin-left: 2%;
        width: 30%;
    }

    #hebergMarseille, #populaires
    {
        border-radius: 20px;
    }

    .container
    {
        display: flex;
    }

    .hebergement
    {
        width: 100%;
        height: 225px;
    } 
}

#cannebiereImg
{
    background-size: cover;
    background-image: url('images/2_large/cannebiere.jpg');
    background-position: center;
    height: 60%;
    background-repeat: no-repeat;
    border-radius: 20px 20px 0 0;        
}

#hotelPortImg
{
    background-size: cover;
    background-image: url('images/2_large/hotelport.jpg');
    background-position: center;
    height: 60%;
    background-repeat: no-repeat;
    border-radius: 20px 20px 0 0;         
}

#mouettesImg
{
    background-size: cover;
    background-image: url('images/2_large/hotelmouettes.jpg');
    background-position: center;
    height: 60%;
    background-repeat: no-repeat;
    border-radius: 20px 20px 0 0;         
}

#hotelMerImg
{
    background-size: cover;
    background-image: url('images/2_large/hotelmer.jpg');
    background-position: center;
    height: 60%;
    background-repeat: no-repeat;
    border-radius: 20px 20px 0 0;         
}

#panierImg
{
    background-size: cover;
    background-image: url('images/2_large/panier.jpg');
    background-position: center;
    height: 60%;
    background-repeat: no-repeat;
    border-radius: 20px 20px 0 0;         
}

#aminaImg
{
    background-size: cover;
    background-image: url('images/2_large/amina.jpg');
    background-position: center;
    height: 60%;
    background-repeat: no-repeat;
    border-radius: 20px 20px 0 0;         
}

@media(max-width: 768px)
{
        #cannebiereImg
    {
        background-size: cover;
        background-image: url('images/4_small/cannebiere.jpg');
        height: 55%;
        background-repeat: no-repeat;
        border-radius: 20px 20px 0 0;        
    }

    #hotelPortImg
    {
        background-size: cover;
        background-image: url('images/4_small/hotelport.jpg');
        height: 55%;
        background-repeat: no-repeat;
        border-radius: 20px 20px 0 0;         
    }

    #mouettesImg
    {
        background-size: cover;
        background-image: url('images/4_small/hotelmouettes.jpg');
        height: 55%;
        background-repeat: no-repeat;
        border-radius: 20px 20px 0 0;         
    }

    #hotelMerImg
    {
        background-size: cover;
        background-image: url('images/4_small/hotelmer.jpg');
        height: 55%;
        background-repeat: no-repeat;
        border-radius: 20px 20px 0 0;         
    }

    #panierImg
    {
        background-size: cover;
        background-image: url('images/4_small/panier.jpg');
        height: 55%;
        background-repeat: no-repeat;
        border-radius: 20px 20px 0 0;         
    }

    #aminaImg
    {
        background-size: cover;
        background-image: url('images/4_small/amina.jpg');
        height: 55%;
        background-repeat: no-repeat;
        border-radius: 20px 20px 0 0;         
    }
}


/*----------------------- ACTIVITES -------------------------- */

#activites
{
    margin-bottom: 3%;
}

.activite
{
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 0.2px 5px grey;
    width: auto;
    height: auto;
}

.activite h3
{
    margin-left: 1em;
}

#vieuxPort, #calanques
{  
    height:100%;
}

#notreDame, #longchamp
{  
    height:250px;
}

#pomegues
{  
    height: 300px;
}

#frioul
{  
    height: 200px;
}



@media (max-width: 768px)
{
    .activite
    {
        margin-bottom: 5%;
    }


    #vieuxPort, #calanques, #pomegues, #frioul, #notreDame, #longchamp
    {
        height: 250px;
    }
}

#vieuxPortImg
{
    background-size: cover;
    background-image: url('images/activites/2_large/vieuxport.jpg');
    background-position: center;
    height:90%;
    background-repeat: no-repeat;
    border-radius: 20px 20px 0 0;     
}

#pomeguesImg
{
    background-size: cover;
    background-image: url('images/activites/2_large/pomegues.jpg');
    background-position: center;
    height: 80%;
    background-repeat: no-repeat;
    border-radius: 20px 20px 0 0;
}

#frioulImg
{
    background-size: cover;
    background-image: url('images/activites/2_large/frioul.jpg');
    background-position: center;
    height:72%;
    background-repeat: no-repeat;
    border-radius: 20px 20px 0 0; 
}

#calanquesImg
{
    background-size: cover;
    background-image: url('images/activites/2_large/calanques.jpg');
    background-position: center;
    height:90%;
    background-repeat: no-repeat;
    border-radius: 20px 20px 0 0;     
}

#notreDameImg
{
    background-size: cover;
    background-image: url('images/activites/2_large/notredame.jpg');
    background-position: center;
    height:78%;
    background-repeat: no-repeat;
    border-radius: 20px 20px 0 0;     
}

#longchampImg
{
    background-size: cover;
    background-image: url('images/activites/2_large/longchamp.jpg');
    background-position: center;
    height:78%;
    background-repeat: no-repeat;
    border-radius: 20px 20px 0 0;     
}


@media(max-width: 769px)
{
    #vieuxPortImg
{
    background-size: cover;
    background-image: url('images/activites/4_small/vieuxport.jpg');
    height:80%;
    background-repeat: no-repeat;
    border-radius: 20px 20px 0 0;     
}

#pomeguesImg
{
    background-size: cover;
    background-image: url('images/activites/4_small/pompegues.jpg');
    height: 80%;
    background-repeat: no-repeat;
    border-radius: 20px 20px 0 0; 
}

#frioulImg
{
    background-size: cover;
    background-image: url('images/activites/4_small/frioul.jpg');
    height:80%;
    background-repeat: no-repeat;
    border-radius: 20px 20px 0 0; 
}

#calanquesImg
{
    background-size: cover;
    background-image: url('images/activites/4_small/calanques.jpg');
    height:80%;
    background-repeat: no-repeat;
    border-radius: 20px 20px 0 0;     
}

#notreDameImg
{
    background-size: cover;
    background-image: url('images/activites/4_small/notredame.jpg');
    height:80%;
    background-repeat: no-repeat;
    border-radius: 20px 20px 0 0;     
}

#longchampImg
{
    background-size: cover;
    background-image: url('images/activites/2_large/longchamp.jpg');
    height:80%;
    background-repeat: no-repeat;
    border-radius: 20px 20px 0 0;     
}
}

@media(min-width:769px)
{
    .wrapperActivites 
    {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-gap: 40px;
    }
    #vieuxPort 
    {
        grid-column:1/3;
        grid-row: 1/8;
    }
    #pomegues { 
        grid-column: 3/5;
        grid-row: 1/5;
    }
    #frioul {
        grid-column: 3/5;
        grid-row: 5/8;
    }
    #calanques 
    {
        grid-column: 5/7;
        grid-row: 1/8;
    }
    #notreDame {
        grid-column: 7/9;
        grid-row: 1/4;
    }
    #longchamp {
        grid-column: 7/9;
        grid-row: 4/8;
    }

}





/*----------------------- FOOTER -------------------------- */

.parafooter ul
{
    list-style-type: none;
    margin:0;
    padding:0;
}

.parafooter ul a
{
    text-decoration: none;
    color: #000000;
}

.parafooter ul li
{
    margin-bottom: 1em;
}

.parafooter ul li:hover
{
    text-decoration: underline;
}




