@font-face
{
    font-family: "Raleway";
    src: url('fonts/Raleway-VariableFont_wght.ttf');
}

body
{
    font-family:'Raleway', Arial, Helvetica, sans-serif;
}

#populaires
{
    background-color:#F2F2F2;
    border: 1px #F2F2F2 solid;
}

.hebergement,.activite
{
    border: 1px #F2F2F2 solid;
    border-radius: 1%; 
}



